.body {
    width: auto;
    max-width: 95%;
    margin: auto;
}

h1 {
    width: auto;
    margin: auto;
    text-align: center;
}
#haut {
    flex-wrap: wrap;
}

#description {
    width: 40%;
    min-width: 300px;
    max-width: 700px;
}

#photo {
    width: 30% ;
    min-width: 100px;
    max-width: 500px;
    height: 500px;
}
#photoProfil {
    width: 100%;
    height: auto;
}
#infos {
    width: 20%;
    min-width: 200px;
    max-width: 300px;
}
div.gallery {
    margin: 5px;
    border: 1px solid cadetblue;
    width: 400px;
    background-color: rgb(245, 245, 245 , 0.9);
    border-radius: 10px;
  }